<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body style="text-align: center;margin-top: 168px;">
	<h1>Kisso - crossdomain - SSO</h1>
	<div class="table_box">
		<p>$!{userId} 欢迎来到 Kisso 极速开发世界！</p>
		<br>
		<a href="/logout.html">  退出 SSO + MY </a>&nbsp;&nbsp;
		<a href="/logsso.html">  只退出 SSO ， MY 正常使用 </a>&nbsp;&nbsp;
		<a href="http://my.web.com:8090/" target="_blank">  查看 MY 系统 </a>
	</div>
</body>
</html>