<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body style="text-align: center;margin-top: 168px;">
	<h1>Kisso - crossdomain - MY</h1>
	<div class="table_box">
		<p>$!{userId} 欢迎来到 Kisso 极速开发世界！</p>
		<br>
		<a href="http://sso.test.com:8080/logout.html">  退出 SSO + MY </a>&nbsp;&nbsp;
		<a href="/logmy.html">  只退出 MY ， SSO 正常使用 </a>&nbsp;&nbsp;
		<a href="http://sso.test.com:8080/" target="_blank">  查看 SSO 系统 </a>
	</div>
</body>
</html>