<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="none">
<link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico" />
<script type="text/javascript" src="//cdnjscn.b0.upaiyun.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
	function proxyLogin(askurl, askData, okurl) {
	    var killAjax = true;
	    setTimeout(function() {
	        checkajaxkill();
	    }, 30000);
	    var ajaxCall = jQuery.getJSON(askurl + "?callback=?", {askData:askData}, function(d){
	    	killAjax = false;
	    	if(d.msg == "-1"){
		    	window.location.href = "http://sso.test.com:8080/login.html?ReturnURL=http%3A%2F%2Fmy.web.com%3A8090%2Fproxylogin.html";
	    	}else{
	    		$.post(okurl, {replyTxt:d.msg} , function(e) {
		    		window.location.href = e.returl;
			    }, "json");
	    	}
	    });
	    function checkajaxkill(){
	        if(killAjax){
	        	ajaxCall.abort();
	        	window.location.href = "http://my.web.com:8090/timeout.html";
	        }
	    }
	}
	proxyLogin("$!{askurl}", "$!{askData}", "$!{okurl}");
</script>
<div align="center" style="margin-top: 180px;">
	<img src="/static/loading.gif"> 页面正在加载中，请稍候……
</div>
</body>
</html>