<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>404</title>
</head>
<body>
<div style="margin: 0 auto;margin-top: 180px;width: 100%;text-align: center;">
<font style="font-size: 120px;">404</font>&nbsp;
<a href="/">返回首页</a>
</div>
</body>
</html>