<html>
<head>
#include("common/header.vm")
<title>OAuth2 Server 添加用户</title>
</head>
<body>
<div class="container">
	<div class="header clearfix">
	    <nav>
	       <ul class="nav nav-pills pull-right">kisso-oauth2-server</ul>
        </nav>
        <h3 class="text-muted"><a href="/user">OAuth2 Server 用户列表</a></h3>
    </div>
    <h3>修改密码</h3>
    <form id="user" class="form-inline" action="/user/${user.id}/changePassword" method="post">
        <div class="form-group">
            <label for="newPassword">新密码：</label>
            <input type="hidden" id="id" name="id" value="${user.id}"/>
            <input type="text" id="newPassword" name="newPassword"/>
        </div>
        <input type="submit" value="修改密码" class="btn btn-default">
    </form>
#include("common/footer.vm")
</div>
</html>
